
<div class="container-xl" style="padding:0px;">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>All Flight Fairs</h2>
					</div>
					<div class="col-sm-6">
						<a  class="btn btn-info" (click)="goToAddFares()" style="background-color:#131a2f" data-toggle="modal">
                            <span>Add New Fares</span>
                        </a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
                        <!-- <th></th> -->
						<th>Departure From</th>
						<th>Arrival To</th>
						<th>Departure Date</th>
						<th>Arrival Date</th>
						<th>Amount (in dollars)</th>
						<th>Discount(optional)</th>
						<th>Active</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let data of faresArray">
						
						<td>{{data.departureFrom}}</td>
						<td>{{data.arrivalTo}}</td>
						<td>{{data.departureDate}}</td>
						<td>{{data.arrivalDate}}</td>
						<td>{{data.amount}}</td>
						<td>{{data.discount}}</td>
						<td *ngIf="data.active==true"><span class="badge badge-success">{{data.active}}</span></td>
						<td *ngIf="data.active==false"><span class="badge badge-danger">{{data.active}}</span></td>
						<td>
							<a class="edit" (click)="edit(data.id)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a nz-popconfirm
                            nzPopconfirmTitle="Are you sure delete this task?"
                            (nzOnConfirm)="confirmDelete()"
                            (nzOnCancel)="cancel()"
                            nzPopconfirmPlacement="topLeft" class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
					<!-- <tr>
						
						<td>Pakistan</td>
						<td>UK</td>
						<td>20/9/2020</td>
						<td>21/9/2020</td>
						<td>600</td>
						<td>10</td>
						<td>Business</td>
						<td>True</td>
						<td>
							<a class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a nz-popconfirm
                            nzPopconfirmTitle="Are you sure delete this task?"
                            (nzOnConfirm)="confirmDelete()"
                            (nzOnCancel)="cancel()"
                            nzPopconfirmPlacement="topLeft" class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
					<tr>
						
						<td>Pakistan</td>
						<td>Canada</td>
						<td>20/9/2020</td>
						<td>21/9/2020</td>
						<td>800</td>
						<td>10</td>
						<td>Premium</td>
						<td>True</td>
						<td>
							<a class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a nz-popconfirm
                            nzPopconfirmTitle="Are you sure delete this task?"
                            (nzOnConfirm)="confirmDelete()"
                            (nzOnCancel)="cancel()"
                            nzPopconfirmPlacement="topLeft" class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
					<tr>
						
						<td>Pakistan</td>
						<td>Germany</td>
						<td>20/9/2020</td>
						<td>21/9/2020</td>
						<td>1000</td>
						<td>10</td>
						<td>Economy</td>
						<td>True</td>
						<td>
							<a class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a nz-popconfirm
                            nzPopconfirmTitle="Are you sure delete this task?"
                            (nzOnConfirm)="confirmDelete()"
                            (nzOnCancel)="cancel()"
                            nzPopconfirmPlacement="topLeft" class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
					<tr>
						
						<td>Pakistan</td>
						<td>USA</td>
						<td>20/9/2020</td>
						<td>21/9/2020</td>
						<td>700</td>
						<td>10</td>
						<td>Premium</td>
						<td>True</td>
						<td>
							<a class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a nz-popconfirm
                            nzPopconfirmTitle="Are you sure delete this task?"
                            (nzOnConfirm)="confirmDelete()"
                            (nzOnCancel)="cancel()"
                            nzPopconfirmPlacement="topLeft" class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr> -->
				</tbody>
			</table>
		
		</div>
	</div>        
</div>
