<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" style="background:#131a2f" nzMode="inline">
        <li nz-submenu nzTitle="Fares" nzIcon="user">
          <ul>
            <li [routerLink]="'addfares'" nz-menu-item>Add Fares</li>
            <li nz-menu-item [routerLink]="'viewfares'" >View Fares</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Category" nzIcon="team">
          <ul>
            <li nz-menu-item>Add Travel Category</li>
            <li nz-menu-item>View Categories</li>
          </ul>
        </li>
        <li nz-menu-item nzTitle="Category" nzIcon="logout">
          <i nz-icon nzType></i>
          <span  [routerLink]="''" >Logout</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
      </nz-header>
      <nz-content>
        <!-- <nz-breadcrumb>
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <br>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>