/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Montserrat', sans-serif !important;
}

.modal-dialog {
    left: 0% !important;
}

/* .find_item:first-child
{
	width: 37.413% !important;
}
.find_item:nth-child(2)
{
	width: 42.413% !important;
} */